.card{
    flex-direction:column;
}


.bootstrap-tagsinput {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    display: inline-block;
    padding: 1.625rem 1rem 0.625rem 1rem;
   
   
    color: #555;
    vertical-align: middle;
    border-radius: 4px;
    max-width: 100%;
    line-height: 22px;
    cursor: text;
    width: 100%;
    
  }
  .bootstrap-tagsinput input {
    color: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0 10px;
    min-width: 70px;
    height: 30px;
    max-width: inherit;
    border-color: white;
    border-style: none;
  }
  .bootstrap-tagsinput.form-control input::-moz-placeholder {
    color: #777;
    opacity: 1;
  }
  .bootstrap-tagsinput.form-control input:-ms-input-placeholder {
    color: #777;
  }
  .bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
    color: #777;
  }
  .bootstrap-tagsinput input:focus {
    border: none;
    box-shadow: none;
    text-align: left;
  }
  .bootstrap-tagsinput .tag {
   	 box-sizing: border-box;
	
	/* Auto layout */
	

	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 4px 8px;
	
	height: 24px;

	
	/* secondary */
	
	background: #E3E0FF;
	/* secondary */
	
	border: 1px solid #E3E0FF;
	border-radius: 8px;
	
    margin-right: 2px;
    color: #6F56F4;;
  }
  .bootstrap-tagsinput .tag [data-role="remove"] {
    margin-left: 8px;
    cursor: pointer;
  }
  .bootstrap-tagsinput .tag [data-role="remove"]:after {
    content: "x";
    padding: 0px 2px;
  }
  .bootstrap-tagsinput .tag [data-role="remove"]:hover {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  }
  .bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
  
  
  #inputDesc{
  	height: 300px;
  
  }
  
  
  .form-input {
  width:450px;
  padding:20px;
  background:#fff;
  margin: 0 auto;
}

.preview{
	margin: 0 auto;
}

.form-input input {
  display:none;

}
.form-input label {
  display:block;
  width:45%;
  height:45px;
  margin-left: 25%;
  line-height:50px;
  text-align:center;
  background: #E3E0FF;

  color:#fff;
  font-size:15px;
  font-family:"Open Sans",sans-serif;
  text-transform:Uppercase;
  font-weight:600;
  border-radius:5px;
  cursor:pointer;
}

.form-input img {
object-fit: scale-down;
  width:400px;
  height: 300px;
  display:none;
	
  margin-bottom:30px;
}

h6{
	font-weight:500;
	color: #5E5E5E;
	margin-bottom: 20px;
}
  

  