<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Form">

	<insert id="insertForm">
		INSERT INTO projectwaco.Form(post_id, writer_id,
		contact, content, status)
		VALUES
		(#{post_id}, #{writer_id}, #{contact}, #{content}, #{status})
	</insert>
	
	<update id="updateFormCount">
		UPDATE projectwaco.Post SET form_count = form_count + 1 WHERE post_id = #{post_id}
	</update>
</mapper>