<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Post">
 	
	<insert id="insertPost">
		INSERT INTO projectwaco.Post(writer_id, title, 
		content, picture)
		VALUES
		(#{writer_id}, #{title}, #{content}, #{picture})
	</insert>
 
	<select id="getPost" resultType="com.walab.Projecters.Bean.Post">
		SELECT post_id, title, content, status, picture, ddib_count, form_count 
		FROM projectwaco.Post
		WHERE writer_id = #{userId}
	</select>
	
	<select id="getPostId" resultType="int"> 
		SELECT post_id FROM Post ORDER BY post_id DESC LIMIT 1
	</select>	

	
	<select id="getAllPost" resultType="map">
		SELECT Post.post_id, picture, title, tag_name, form_count
		FROM (projectwaco.Post JOIN projectwaco.Tag ON Post.post_id = Tag.post_id) 
	</select>
	 
	 <select id="getPostCount" resultType="int">
	 	SELECT count(post_id) FROM Post 
	 </select>
	
	 
</mapper>