<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>
	<typeAliases>
		<typeAlias alias="Post" type="com.walab.Projecters.Bean.Post"/>
		<typeAlias alias="Ddib" type="com.walab.Projecters.Bean.Ddib"/>
		<typeAlias alias="User" type="com.walab.Projecters.Bean.User"/>
		<typeAlias alias="Form" type="com.walab.Projecters.Bean.Form"/>
		<typeAlias alias="Banner" type="com.walab.Projecters.Bean.Banner"/>
		<typeAlias alias="UserPost" type="com.walab.Projecters.Bean.UserPost"/>
		<typeAlias alias="Tag" type="com.walab.Projecters.Bean.Tag"/>
		<typeAlias alias="TagCount" type="com.walab.Projecters.Bean.TagCount"/>
	</typeAliases>
</configuration>